header h1{
    width: 100%;
    text-align: center;
    padding: 40px;
    background-color: pink;
}
nav ul{
    border: 0.2px solid black;
    list-style: none;
    text-align: center;
    display: inline-block;
    width: 100%;
}
main {
    border: 0.2px solid black;
    width: 80%;
}
aside {
    border: 0.2px solid black;
    width: 20%;
}
p .fato{
    width: 300px;
}
div .fato {
    float: left;
    width: 20%;
}
.foto-fato {
    width: 300px;
    border-radius: 50%;
}
footer {
    font-size: 12px;
    text-align: center;
    padding: 20px;
    background-color: pink;
}